@model SiteWeb.Admin



@{
    ViewBag.Title = "Login";
}



<style>
    .all {
        padding-left: 450px;
        padding-top: 170px;
        text-align: center;
        display: inline-block;
    }

    body, html {
        height: 100%;
    }

    body, html {
        /* The image used */
        background-image: url('../../Images/annie-spratt-ORDz1m1-q0I-unsplash.jpg');
        /* Full height */
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .allbutton {
        padding-left: 50px;
    }

    .field-validation-error {
        color: red;
    }

    label, h2 {
        color: black;
    }

    .one {
        margin-left: 30px;
    }

    h2 {
        margin-left: 30px;
        color: aqua;
    }
</style>
<body>
    <div class="all">

        <h2>Login as Admin </h2>


        @using (Html.BeginForm("Autherize", "Login", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div class="input-div one">
                <div class="i">
                    <i class="fas fa-lock"></i>
                </div>
                <div>
                    <label>FirstName</label>
                    @Html.EditorFor(model => model.FirstName_Prof)
                </div>
                <p>@Html.ValidationMessageFor(model => model.FirstName_Prof)</p>
            </div>
            <div class="input-div two">
                <div class="i">
                    <i class="fas fa-lock"></i>
                </div>
                <div>
                    <label>Password</label>
                    @Html.EditorFor(model => model.password)
                </div>

                <p>@Html.ValidationMessageFor(model => model.password)</p>
            </div>
            <div class="allbutton">
                <input type="submit" id="button" class="btn" name="name" value="Login" />
                <a href="@Url.Action("AddOrEdit", "Eng")" class="btn btn-primary">Sign Up</a>

            </div>
            <label class="field-validation-error">@Html.DisplayFor(model => model.LoginErrorMessage)</label>
        }
    </div>
</body>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

